.burger_menu{

    padding-top:20px ;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 0;
    right: -100%;
    width: 50%;
    min-height: 100vh;
    background-color: #7C6A46;
    transition: all .3s ease-in-out;
}

.active{
  right: 0;
}



.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    font-size: 24px;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.login_button{
    outline: none;
    border:none;
    cursor:pointer;
    background-color: #c3a460;
    color: white;
    height: 55px;
    padding-right: 30px;
    padding-left: 30px;
    transition: all .3s ease-in-out;
    border-radius: 10px;
}
.login_button:hover{
    background-color: #5c5136;
}
.navlink{
    width: 100%;
    border-bottom: 1px white solid;
}
.logo{
    width: 70%;

}

.cross{
    font-size: 32px;
    color: white;
    margin-left: 10px;
}

.cross:hover{
    transform: scale(1.2);
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width:450px){
    .navbar{
        font-size: 18px;
    }

    .login_button{
        height: 35px;
    }
}

@media screen and (max-height: 900px) {
    .navbar{
        gap: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .burger_menu{
        width: 60%;
    }
}

